<div class="wrapper-content">
    <mat-card>
        <mat-card-content>
            <mat-grid-list cols="2" rowHeight="2:2">
                <mat-grid-tile>
                    <img src="../../assets/images/add.png" alt="logotype" width="40%">
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="flex-colum">
                        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <mat-form-field appearance="outline">
                                <mat-label>Correo</mat-label>
                                <input matInput required placeholder="email@example.com" formControlName="email">
                                <mat-icon matSuffix>email</mat-icon>
                                <mat-error *ngIf="loginForm.get('email').invalid">{{getError('email')}}</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline">
                                <mat-label>Contraseña</mat-label>
                                <input matInput required [type]="hide ? 'password' : 'text'" formControlName="password">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon matSuffix>{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                                </button>
                                <mat-error
                                        *ngIf="loginForm.get('password').invalid">{{getError('password')}}</mat-error>
                            </mat-form-field>
                            <button id="login" mat-flat-button color="primary" [disabled]="loginForm.invalid">Ingresar
                            </button>
                        </form>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </mat-card-content>
    </mat-card>
</div>
